<ion-header>
  <ion-toolbar>
    <ion-title color="gold">Termos de Serviço</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon color="light" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: #505050">
    <ion-card-content color="light">
      <div class="ion-text-justify">
        <ion-text color="light">
          <h1>Objetivo</h1>
        </ion-text>
        <br>
        <ion-text color="light">
            Os presentes Termos e Condições Gerais de Uso têm por objetivo definir as modalidades de disponibilização
            dos serviços da aplicação "Habitua-te", doravante denominado o "Serviço", e as condições de uso do mesmo pelo utilizador.
            <br>
            Qualquer acesso e / ou utilização da aplicação pressupõe a aceitação incondicional e conformidade com todos
            os Termos e Condições. Por conseguinte, eles constituem um contrato entre a aplicação e o usuário. Se o utilizador
            não quiser aceitar a totalidade ou parte dos Termos e Condições, ele será obrigado a renunciar a qualquer uso
            do Serviço. 
        </ion-text>
        <br>
        <br>
        <ion-text color="light">
          <h1>Definições</h1>
        </ion-text>
        <br>
        <ion-text color="light">
          <strong><u>Utilizador:</u></strong> o utilizador é qualquer pessoa que utiliza a aplicação ou um dos serviços fornecidos pela mesma.
          <br>
          <strong><u>Conteúdo do utilizador:</u></strong> o termo “Conteúdo do utilizador” designa os dados enviados pelo utilizador
          para as diversas áreas da aplicação.
          <br>
          <strong><u>Membro:</u></strong> o termo “Membro” designa um utilizador autenticado na aplicação.
          <br>
          <strong><u>Nome de utilizador:</u></strong> o termo “Nome de utilizador” refere-se a todas as informações necessárias
          para um utilizador efetuar o login na aplicação para aceder às áreas reservadas aos membros.
        </ion-text>
        <br>
        <br>
        <ion-text color="light">
          <h1>Acesso ao serviço</h1>
        </ion-text>
        <br>
        <ion-text color="light">
            O acesso ao serviço é gratuito para todos os utilizadores ligados à Internet. Os custos relativos ao acesso ao
            serviço, sejam de hardware, software ou acesso à Internet são da exclusiva responsabilidade do utilizador.
            Ele é o único responsável pelo bom funcionamento do seu equipamento informático e do seu acesso à internet.
            <br>
            Algumas áreas do site são reservadas aos membros que efetuaram login com a sua respectiva conta do Facebook.
            <br>
            A aplicação "Habitua-te" reserva-se o direito de recusar o acesso ao Serviço, a seu critério e sem aviso prévio,
            a qualquer utilizador que não respeite os presentes Termos e Condições Gerais de Uso.
            <br>
            A aplicação "Habitua-te" usa todos os meios à sua disposição para garantir um acesso de qualidade ao Serviço,
            mas não tem obrigação legal de fazê-lo.
            Além disso, a aplicação "Habitua-te" não pode ser responsabilizada por qualquer mau funcionamento da rede ou
            servidor, ou qualquer outro evento que fuja ao seu controle e que impeça ou afete o acesso ao Serviço.
            <br>
            A aplicação "Habitua-te" reserva-se no direito de interromper, suspender temporariamente ou alterar, 
            sem aviso prévio, o acesso à totalidade ou a parte do Serviço para a manutenção ou por qualquer outro motivo,
            sem que esta interrupção dê direito a qualquer obrigação ou indemnização.
        </ion-text>
        <br>
        <br>
        <ion-text color="light">
          <h1>Propriedade intelectual</h1>
        </ion-text>
        <br>
        <ion-text color="light">
          A aplicação "Habitua-te", em particular, o seu conteúdo é protegido pela lei portuguesa.
          <br>
          Paulo Alexandre Francisco Gil é o titular exclusivo da integralidade dos direitos de propriedade intelectual da aplicação.
          <br>
          Os textos e ilustrações quem mencionam a licença da Criative Commons podem, sob certas condições, ser reproduzidos,
          distribuídos ou alterados sem autorização.
          <br>
          O utilizador é o único responsável pelo conteúdo que ele publica através do Serviço. O utilizador cede expressamente 
          sem custo, todos os direitos de propriedade intelectual relacionados ao conteúdo do utilizador.
          <br>
          A aplicação "Habitua-te" reserva-se o direito de apagar todo ou qualquer conteúdo do utilizador, a qualquer momento 
          e por qualquer motivo, sem aviso prévio. Caso isso aconteça, o utilizador não tem direito a qualquer tipo de compensação.
        </ion-text>
        <br>
        <br>
        <ion-text color="light">
          <h1>Dados pessoais</h1>
        </ion-text>
        <br>
        <ion-text color="light">
            A aplicação "Habitua-te" garante que nenhuma password ou outros dados sensíveis será transmitidos para os nossos serviços.
            <br>
            Os dados obtidos através do serviço do Facebook (mediante autorização do utilizador) são, única e exclusivamente, o nome, email e foto de perfil.
            <br>
            A aplicação "Habitua-te" não se responsabiliza por falhas, interrupções ou outro tipo de incidentes que afetem o correto funcionamento
            dos serviços prestados pelo Facebook.
        </ion-text>
        <br>
        <br>
        <ion-text color="light">
          <h1>Responsabilidade</h1>
        </ion-text>
        <br>
        <ion-text color="light">
          A aplicação "Habitua-te" é uma aplicação informativa sobre os produtos, eventos e novidades relativos ao bar "Habitua-te".
          <br>
          As informações distribuídas na aplicação provêm de fontes supostamente confiáveis. No entanto, a aplicação
          "Habitua-te" não pode garantir a exatidão ou a veracidade desses dados.
          Consequentemente, o uso de informações e conteúdos disponíveis em toda a aplicação não terá qualquer
          responsabilidade para a aplicação "Habitua-te". O utilizador é o único responsável pelo uso adequado e criterioso
          das informações fornecidas na aplicação.
          Além disso, o utilizador concorda em isentar a aplicação "Habitua-te" por quaisquer danos que possam resultar,
          direta ou indiretamente, do uso do Serviço.
          <br>
          O acesso à aplicação requer um login através do serviço do Facebook. O uso do seu nome de utilizador na Internet
          é de total responsabilidade do mesmo. Cabe a ele tomar todas as medidas necessárias para proteger seus dados pessoais
          contra qualquer infração. 
          A aplicação "Habitua-te", no entanto, concorda em implementar todos os meios necessários para garantir a segurança
          e a privacidade dos dados transmitidos.
          <br>
          O utilizador está ciente das limitações e restrições da Internet e reconhece que é impossível garantir total
          segurança na transferência de dados. A aplicação "Habitua-te" não pode ser responsabilizada por qualquer
          perda ou dano resultante da transmissão de qualquer informação, incluindo nome de utilizador e email,
          através do Serviço.
          <br>
          A aplicação "Habitua-te" não pode, em nenhum caso, no que diz respeito à lei, ser responsabilizada por prejuízos
          e / ou danos, diretos ou indiretos, materiais ou imateriais, ou de qualquer natureza, decorrentes de qualquer 
          indisponibilidade do Serviço ou do seu uso. O termo "Uso" deve ser entendido no seu sentido mais amplo, a saber,
          qualquer uso da aplicação de qualquer tipo, lícito ou não.
          <br>
          O Utilizador concorda em cumprir todos os regulamentos previstos pela lei de Portugal.
        </ion-text>
        <br>
        <br>
        <ion-text color="light">
          <h1>Casos de força maior</h1>
        </ion-text>
        <br>
        <ion-text color="light">
            A aplicação "Habitua-te" não deve ser responsabilizada em caso de força maior ou por eventos fora de seu controle. 
        </ion-text>
        <br>
        <br>
        <ion-text color="light">
          <h1>Modificações</h1>
        </ion-text>
        <br>
        <ion-text color="light">
            A aplicação "Habitua-te" reserva-se no direito de modificar os termos e condições deste contrato a qualquer momento.
            Portanto, aconselhamos o utilizador a consultar regularmente a última versão do mesmo.  
        </ion-text>
        <br>
        <br>
        <ion-text color="light">
          <h1>Duração e rescisão</h1>
        </ion-text>
        <br>
        <ion-text color="light">
          O presente contrato tem duração indeterminada, começando com o uso do Serviço pelo utilizador.
        </ion-text>
      </div>
      <br>
      <hr style="border-top: 1px dotted white">
      <ion-text color="light">
        Última revisão: 21/08/2019
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
