.avatar {
    margin: auto;
    width: 150px;
    height: 150px;
}

.avatar-small {
    margin: auto;
}

.item .item-content {
    background-color:#ffffff !important;
}

.select {
    color: white;
}