.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.chip {
  height: 50px;
  width: 200px
}

.like {
  color: #0cd1e8 !important;
  background: #0cd1e8 !important;
  background-color: #0cd1e8 !important;
}
